@model Ebook_Application.Models.Category

@{
    ViewBag.Title = "AddCategory";
    Html.EnableClientValidation(true);
}

<style>
    body {
        background: url("https://cdn.pixabay.com/photo/2014/09/05/18/32/old-books-436498_960_720.jpg") no-repeat center center fixed;
        background-size: cover;
    }

    .container-form {
        position: absolute;
        background: #fff;
        width: 700px;
        margin-top: 100px;
        margin-left: 25%;
        margin-bottom: 30px;
        margin-right: 30px;
        padding: 40px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    }
</style>

@using (Html.BeginForm("AddCategoryToDB", "Admin", FormMethod.Post,new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
<div class="container-form">
    <div class="form-horizontal">
        <center><h2>Add Category</h2></center>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CategoryId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CategoryId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CategoryCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CategoryCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryImage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" class="form-control" name="UploadedCategoryImage" id="UploadedCategoryImage" />
                @Html.ValidationMessageFor(model => model.CategoryImage, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <center><input type="submit" value="Add Category" class="btn btn-success" /></center>
            </div>
        </div>
    </div>
    </div>
    }

