@model IEnumerable<Ebook_Application.Models.Category>

@{
    ViewBag.Title = "ManageCategory";
}

<h2>Manage Categories</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryImage)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.CategoryId)
     </td>
    <td>
        @Html.DisplayFor(modelItem => item.CategoryCode)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CategoryName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CategoryImage)
    </td>
    <td>
        @Html.ActionLink("Edit", "EditCategory", new { Id = item.CategoryId }) |
        @Html.ActionLink("Delete", "DeleteCategory", new { id = item.CategoryId })
    </td>
</tr>
    }

</table>
