@model Ebook_Application.Models.Book
@{
    ViewBag.Title = "BookView";
}
<style>

    body {
        font-family: 'open sans';
        overflow-x: hidden;
    }

    img {
        max-width: 100%;
    }

    .preview {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .cart-button {
        border: 1px solid #80C850;
        box-shadow: 0 1px 5px #333333;
        -webkit-box-shadow: 0 1px 5px #333333;
        -moz-box-shadow: 0 1px 5px #333333;
        min-width: 225px;
        color: #7ECA47;
        border-color: #7ECA47;
        background-color: #000000;
        text-align: center;
        cursor: pointer;
        position: relative;
        font-size: 12px;
    }

    .cart-button {
        height: 0px;
        padding: 0px;
        z-index: 50;
        -webkit-box-shadow: 0 0 0 2px white;
        -moz-box-shadow: 0 0 0 2px white;
        box-shadow: 0 0 0 2px white;
        -webkit-border-radius: 50em;
        -moz-border-radius: 50em;
        border-radius: 50em;
    }

    .cart-button {
        display: inline-block;
        padding: 1.4em 4em;
        text-transform: uppercase;
        font-weight: bold;
        margin: 1em 0;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        overflow: hidden;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

        .cart-button span {
            position: absolute;
            display: block;
            bottom: 0;
            left: 0;
            color: white;
            height: 100%;
            width: 100%;
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -o-transition: all 0.2s;
            transition: all 0.2s;
            box-sizing: border-box;
            padding: 8px;
            /*    line-height: 68px;*/
        }

        .cart-button:hover span {
            -webkit-transform: translateY(-100%);
            -moz-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
            -o-transform: translateY(-100%);
            transform: translateY(-100%);
        }

        .cart-button span::after {
            content: '';
            background: transparent url('~/BookImages/download.png') no-repeat center center;
            background-size: 25px 25px;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 100%;
            left: 0;
        }

    .custom-btn {
        width: 130px;
        height: 40px;
        color: #fff;
        border-radius: 5px;
        padding: 10px 25px;
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        background: transparent;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
        outline: none;
        text-align: center;
    }

    /* 15 */
    .btn-15 {
        background: #b621fe;
        border: none;
        z-index: 1;
    }

        .btn-15:after {
            position: absolute;
            content: "";
            width: 0;
            height: 100%;
            top: 0;
            right: 0;
            z-index: -1;
            background-color: #663dff;
            border-radius: 5px;
            box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
            transition: all 0.3s ease;
        }

        .btn-15:hover {
            color: #fff;
        }

            .btn-15:hover:after {
                left: 0;
                width: 100%;
            }

        .btn-15:active {
            top: 2px;
        }

</style>

<h2>Book View</h2>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>eCommerce Product Detail</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">

</head>

<body>

    <div class="container">
        <div class="card">
            <div class="container-fliud">
                <div class="wrapper row">
                    <div class="preview col-md-6">

                        <div class="preview-pic tab-content">
                            <div class="tab-pane active" id="pic-1"><img src="~/BookImages/@Model.Image" height="500px" /></div>

                        </div>


                    </div>
                    <div class="details col-md-6">
                        <h3 class="product-title">@Model.BookName</h3>
                        <h4>@Model.CategoryName</h4>

                        <p class="product-description">@Model.Description</p>
                        <span>
                            <a href="@Url.Action("DownloadBook", "UploadAndDownload", new { fileName = Model.BookName })" class="cart-button shadow" id="cartproduct" name="cartproduct">
                                <span> Free Download </span> 

                            </a>
                        </span>
                        <span>
                            
                            
                                <a class="custom-btn btn-15" href="@Url.Action("AddFavourite", "View", new {bookname=Model.BookName})">
                                    <span> <i class="fa fa-star" aria-hidden="true">Add To Favourites</i> </span>
                                 </a>
                        </span>



                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
